{% extends 'musicians/base.html' %}
{% block content %}

<h1>All Musicians</h1>

{% for musician in musicians %}
    <div class="card">
        <div class="card-container">
            <div class="card-content">
            <span class="card-title">{{ musician.name }}</span>
            <hr>
            <p>Instrument: {{ musician.instrument }}</p>
            <p>Genre: {{ musician.genre }}</p>
            <p>Bio: {{ musician.bio }}</p>
            <p>Body of Works: {{ musician.body_of_works }}</p>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}